.body_index {
    background-color: green;
}
.body_selectors{
    background-color: white;
}
.mainBox{
    background: red;
}
.boxred{
    background-color: red;
}
.boxgreen{
    background-color: green;
}
.boxblue{
    background-color: blue;
}