.body_index {
    background-color: green;
}
.body_selectors{
    background-color: white;
}
#mainBox{
    background: rgb(184, 163, 163);
    width: 50%;
}
.box{
    width: 200px;
    height: 200px;
}
.boxred{
    background-color: red;
}
.boxgreen{
    background-color: green;
}
.boxblue{
    background-color: blue;
}
input[type="text"], input[type='submit']{
    height: 50px;
}
p[data-text='red']{
    color: red;
    font-size: large;
}
p[data-text='green']{
    color: green;
    font-size: xx-large;
}
